.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /*background-image: url(../sprites/back.png);*/
    background-image: url(../sprites/road_3_1980.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.info {
    position: absolute;
    top: 0;
    left: 50px;
}
.player {
    position: absolute;
    width: 97px;
    height: 77px;
    background-image: url(../sprites/scorpion-right_2shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(12deg);
}
.bullet {
    position: absolute;
    width: 27px;
    height: 18px;
    background-image: url(../sprites/tail.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.enemy-bullet {
    position: absolute;
    width: 40px;
    height: 32px;
    /*background-image: url(../sprites/bullet.png);*/
    background-image: url(../sprites/binoculars.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*animation: claw  1s infinite ease-in-out;*/
}
.scorpion-claw {
    position: absolute;
    width: 36px;
    height: 52px;
    background-image: url(../sprites/claw.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*transform: rotate(45deg);*/
    /*animation: bounce  1s infinite ease-in-out;*/
    /*animation: claw  5s;*/
}
@keyframes claw {
    0% {
        /*transform: translateY(0);*/
        transform: translateY(0px) translateX(0px);
    }
    30% {
        transform: translateY(-20px) translateX(0px) rotateZ(180deg);
    }
    50% {
        transform: translateY(0px) translateX(0px) rotateZ(180deg);
    }
    60% {
        transform: translateY(0px) translateX(0px) rotateZ(180deg);
    }
    80% {
        transform: translateY(0px) translateX(0px) rotateZ(180deg);
    }
    100% {
        transform: translateY(200px) translateX(0px) rotateZ(180deg);
    }
}
.enemy {
    position: absolute;
    z-index: 1;
    width: 78px;
    height: 77px;
    background-image: url(../sprites/observer_ant_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tree {
    position: absolute;
    top: 196px;
    left: 480px;
    width: 186px;
    height: 194px;
    background-image: url(../sprites/tree.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tree-right {
    position: relative;
    z-index: 2;
    width: 100px;
    height: 100px;

}
.tree-right::before {
    position: absolute;
    content: '';
    top: -98px;
    left: -64px;
    width: 186px;
    height: 194px;
    background-image: url(../sprites/tree.png);
    background-repeat: no-repeat;
    background-size: cover;
}