.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    /*background-image: url(../sprites/back.png);*/
    background-image: url(../sprites/roads.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.player {
    position: absolute;
    width: 97px;
    height: 77px;
    background-image: url(../sprites/scorpion-right_2shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(12deg);
}
.bullet {
    position: absolute;
    width: 27px;
    height: 18px;
    background-image: url(../sprites/tail.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.scorpion-claw {
    position: absolute;
    width: 36px;
    height: 52px;
    background-image: url(../sprites/claw.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.enemy {
    position: absolute;
    width: 78px;
    height: 77px;
    background-image: url(../sprites/observer_ant_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tree {
    position: absolute;
    top: 196px;
    left: 480px;
    width: 186px;
    height: 194px;
    background-image: url(../sprites/tree.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tree-right {
    /*position: absolute;*/
    width: 100px;
    height: 100px;
    position: relative;
}
.tree-right::before {
    position: absolute;
    content: '';
    top: -98px;
    left: -64px;
    width: 186px;
    height: 194px;
    background-image: url(../sprites/tree.png);
    background-repeat: no-repeat;
    background-size: cover;
}